@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* common Styles  */
* {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-dec {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* navbar style */
nav {
    display: flex;
    margin: 0 220px;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;

    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* header style */

#header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    max-width: 585px;

}

.banner .profile-pic {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.contact-btn {
    margin-left: 20px;
    background: none;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}



/* main section styles  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section design  */
#about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.info-descripton {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

/* what i dow section design here  */
#what-i-do-description {
    padding: 30px 160px;
}

.skills-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.skill-content {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-dec {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* resume section design here  */

.resume-container {
    display: flex;
    gap: 70px;
    justify-content: space-around;
}

.resume-color-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.item-institute {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20;
}

.item-deception {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.resume-colom hr {
    background: #D1D1D1;
    margin: 30px 0;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}


/* footer section design here */

footer {
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    justify-content: space-around;
}

.footer-colom{
    width: 50%;
}
.social-links a{
    
    margin-right: 20px;
}
.footer-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.footer-description {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 30px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF;
    outline: none;
    border: none;
}
textarea {
    resize: none;
}

.contact input::placeholder,
textarea::placeholder {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
